[package]
name = "bitstream_reader"
version = "0.5.1"
authors = ["Robin Appelman <robin@icewind.nl>"]
edition = "2018"
description = "Reading bit sequences from a byte slice"
license = "MIT OR Apache-2.0"
repository = "https://github.com/icewind1991/bitstream_reader"

[badges]
travis-ci = { repository = "icewind1991/bitstream_reader" }

[dependencies]
num-traits = "0.2"
bitstream_reader_derive = { version = "0.5", path = "bitstream_reader_derive" }

[dev-dependencies]
maplit = "1.0.1"

[features]
unchecked_utf8 = []

[workspace]